/*header*/
.fondo{
	background-color: #0477A1;
	max-width: 100%;
}
.bunny{
	font-family: 'Baloo Paaji';
	font-size: 1.3em;
	color: white;
}
.love{
	color: red;
}

.menu{
	display: table-cell;
	padding: 5px;
}
a{
	font-size: 12px;
	color: white;
	text-decoration: none;
}

/*primer section*/
.fondo2{
	background-image: url(../img/img-1.jpg);
	background-repeat: no-repeat;
	max-width: 100%;
	height: 360px;
}
.trans{
	background-color: #0477A1;
	height: 250px;
	width: 730px;
	opacity: 0.7;
	margin-left: 10%;
	margin-top: 5%;
}
.soft{
	font-family:'Baloo Paaji';
	font-size: 5em;
	color: red;
}
.tresl{
	text-decoration: none;
	color: white;
	display: table-cell;
	padding: 12px;
}
.trs{
	margin-left: 30%;
	margin-top: -8%;
}
/*segundo section*/

.caja{
	height: 360px;
	width: 22%;
	margin: 2% 1%;
	background-color: #0477A1; 	
	
}
.caja1{
	background-size: 205px;
	background-repeat: no-repeat;  	
	background-image: url(../img/img-1.jpg);
	padding-top: 13%;
}
.caja2{
	background-size: 206px;
	background-repeat: no-repeat;  	
	background-image: url(../img/img-2.jpg);
	padding-top: 13%;
}
.caja3{
	background-size: 205px;
	background-repeat: no-repeat;  	
	background-image: url(../img/img-3.jpg);
	padding-top: 13%;
}
.caja4{
	background-size: 205px;
	background-repeat: no-repeat;  	
	background-image: url(../img/img-4.jpg);
	padding-top: 13%;
}
.titred{
	font-family: 'Baloo Paaji';
	color: red;	
	text-align: center;
	font-size: 14px;
}
.textconejin{
	font-family: 'Prompt','Baloo Paaji';
	font-size: 13px;
	color: white;	
}
.pie{
	background-color: #0477A1;
	width: 100%;
	height: 90px;
}
.ppie{
	padding: 3%;
	padding-left: 43%;	
	color:white;
}
.fondo-azul{	
	background:#0477A1;
	width: 960px;
	padding-left: 14px;
	padding-right: 14px;
	margin: 0px auto;
}

.f-blanco1{
	background:#FFFFFF; 
	width: 482px;
	margin-top: 28px;
	height: 483px;
}


.conejo1{
	width: 483px;
	padding-top: 0px;
}

.h1-conejo1{
	font-size: 21px;
	color:red;
}

.p-conejo1{
	color: #060606;
	text-align: left;
	font-family: 'Prompt','Baloo Paaji';
	font-size: 13px;
	
}
/*-------------------------------------*/

.f-blanco2{
	background:#FFFFFF; 
	width: 400px;
	margin: 33px;
	
}

.conejo2{
	width: 400px;
}

.h1-conejo2{
	font-size: 21px;
	color:red;

}

.p-conejo2{
	color: #060606;
	text-align: left;
	height: 102px;
	font-family: 'Prompt','Baloo Paaji';
	font-size: 13px;
	

}
/*-------------------------------*/


.p-conejo3{
	color: #060606;
	text-align: left;
	font-family: 'Prompt','Baloo Paaji';
	font-size: 13px;
	
}
.iconos{
	padding: 25px;
	color: #0477A1;
}

.conejo4{
	width: 400px;
	
}

.h1-conejo4{
	font-size: 21px;
	color:red;
}

.p-conejo4{
	color: #060606;
	text-align:left;
	


}

h4{
	margin-left: -93%;
}

iframe{
	width: 100%;
	height: 370px;


}

.video{
	
	background-color:#FFFFFF;
	width: 108%;
	

}

.input-border{
	width: 395px;
	margin-top: 28px;
	margin-left: 38px;
	background:#FFFFFF; 
	margin-bottom: 10px;
}

.ico{
	margin-top: 25px;
	margin-bottom: 25px;
	height: 50px;
	width: 285px;
}



.conejoBunny{
	width: 130px;
	float: left;
} 

.container-cabecera{
	background-color:#0477A1;

}  

/**********************************************/

@media (max-width: 530px) {
	.fondo{
		max-width: 100%;
	}
	.menu{
		margin: 0px;
		padding: 0px;
		padding-left: 5%;
		display: block;
		float: none;
		text-align: left;
	}
	.fondo2{
		background-size: 100%;
	}
	.trans{
		margin-top: -9%;
		width: 80%;
		height: 190px;
	}
	.soft{
		font-size: 250%;
		margin-top: 55px;
		padding-top: 46px;
	}
	.trs{
		margin-left: 9%;
		margin-top: 17%;
	}
	.caja {
		max-width: 100%;
	}

	.caja1 {
		background-size: 100%;
		width:400px;
	}
	.titred {
		margin-top: 55%;
		text-align: center;
		font-size: 14px;
	}
	.caja2 {
		background-size: 100%;
		width:400px;
	}
	.caja3 {
		background-size: 100%;
		width:400px;
	}
	.caja4 {
		background-size: 100%;
		width:400px;
	}
	.fondo-azul{	
		width: 100%;
		margin: 0px auto;
	}
	.f-blanco1{
		max-width: 400px;
		width: 100%
	}
	.conejo1 {
		width: 100%;
		max-width: 378px;
	}
	iframe {
		width: 93%;
		margin-left: -7%;
		height: 228px;
	}
	.input-border {
		width: 108%;
		margin-left:0;
	}
	.ico{
		width: 87%;
	}
	.f-blanco2{
		max-width: 281px;
		width: 100%
	}
	.conejo2 {
		width: 110%;
		margin-left: -10%;
	}
	.conejo4 {
		width: 110%;
		margin-left: -8%;
	}
}