/*header*/
.fondo{
	background-color: #0477A1;
	max-width: 100%;
}
.bunny{
	font-family: 'Baloo Paaji';
	font-size: 1.3em;
	color: white;
}
.love{
	color: red;
}

.menu{
	display: table-cell;
	padding: 5px;
}
a{
	font-size: 12px;
	color: white;
	text-decoration: none;
}

/*primer section*/
.fondo2{
	background-image: url(../img/img-1.jpg);
	background-repeat: no-repeat;
	max-width: 100%;
	height: 360px;
}
.trans{
	background-color: #0477A1;
	height: 250px;
	width: 730px;
	opacity: 0.7;
	margin-left: 10%;
	margin-top: 5%;
}
.soft{
	font-family: Baloo Paaji;
	font-size: 5em;
	color: red;
}
.tresl{
	text-decoration: none;
	color: white;
	display: table-cell;
	padding: 12px;
}
.trs{
	margin-left: 30%;
	margin-top: -8%;
}
/*segundo section*/

.caja{
	height: 360px;
	width: 22%;
	margin: 2% 1%;
    background-color: #0477A1;
}
.conejo{
	width: 100%;
	height: auto;
}

.titred{
	font-family: 'Baloo Paaji';
	color: red;	
	text-align: center;
	font-size: 1em;

}
.textconejin{
	font-family: 'Baloo Paaji', 'Prompt';
	font-size: 0.8em;
	color: white;	
}
